
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Buugaru Login Form</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="~/snow-login-form-starter/css/style.css" type="text/css" media="all" />


</head>
<body>
    <!-- login form -->
    <section class="w3l-login">
        <div class="overlay">
            <div class="wrapper">
                <div class="logo">
                    <a class="brand-logo" href="index.html">Buugaru Giriş</a>
                </div>
                <div class="form-section">
                    <h3>Giriş</h3>
                    @using (Html.BeginForm("AdminLogin", "Login"))
                    {
                        <form action="#" method="post" class="signin-form">
                            <div class="form-input">
                                <input type="text" name="KullanıcıAD" placeholder="Kullanıcı Adı" required="" autofocus>
                            </div>
                            <div class="form-input">
                                <input type="password" name="Sifre" placeholder="Şifre" required="">
                            </div>
                            <label class="check-remaind">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <p class="remember">Beni Hatırla</p>
                            </label>
                            <button type="submit" class="btn btn-primary theme-button mt-4">Giriş Yap</button>

                        </form>
                    }


                </div>
            </div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>


        <!-- copyright -->
        <!-- //copyright -->
    </section>

    <!-- /login form -->
</body>
</html>
