
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>ÖNCELİKLE HEM SİZİN NEZDİNİZDE DENİZ HOCAMA VE SİZE BANA BU İMKANI VERDİĞNİZ İÇİN MİNNETTARIM.<br />
         HOCAM BANA KATLANDIĞINIZ VE KATTIKLARINIZ İÇİN ÇOK TEŞEKKÜR EDERİM.<br />DAHA GÜZEL HİKAYELERLE GÖRÜŞMEK ÜZERE.<br />KENDİNİZE ÇOK İYİ BAKIN=)</p>
    </div>
</body>
</html>
