@model BUUGARUSTOK.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">
                    <label>
                        Müşteri Adı Soyadı
                    </label>
                    @*<input type="text" name="ADI" class="form-control" />*@
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Ürün Adı
                    </label>
                    @*<input type="text" name="URUN" class="form-control" />*@
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>
                        Yazar ADI
                    </label>
                    <br />
                    <label>
                        Adet
                    </label>
                    @*<input type="text" name="ADET" class="form-control" />*@
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyatı
                    </label>
                    @*<input type="text" name="fiyat" class="form-control" />*@
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })

                    <br />
                    <button type="submit" class="btn btn-info">Verileri Kaydet</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>

